<q-expansion-item group="extras" icon="info" label="About DFX.swiss">
  <q-card>
    <q-card-section>
      <p>The crypto exchange where you have the private key to your coins at any time.</p>
      <p>Buy & Sell Crypto. Easy. Bank to Wallet. Wallet to Bank.</p>
      <p>Buy and Sell Bitcoin, Ethereum, Binance Coin and many more with simple bank transactions.</p>
      <small>Created by
        <a class="text-secondary" href="https://dfx.swiss/" target="_blank">DFX.swiss</a>
      </small>
    </q-card-section>
  </q-card>
</q-expansion-item>
