<q-expansion-item group="extras" icon="info" label="Developer Readme">
  <q-card>
    <q-card-section>
      <q-btn class="q-btn q-btn--no-uppercase" icon="extension" flat label="README DFX LNbits Extension" type="a" href="https://github.com/DFXswiss/lnbits-extensions/tree/main/dfxswiss#readme" target="_blank"></q-btn><br>
      <q-btn class="q-btn q-btn--no-uppercase" icon="description" flat label="README DFX Services" type="a" href="https://github.com/DFXswiss/services/tree/feature/DEV-1632-iframe-adaptions#readme" target="_blank"></q-btn>
    </q-card-section>
  </q-card>
</q-expansion-item>
