<q-expansion-item group="extras" icon="info" label="Instructions" default-opened>
  <q-card>
    <q-card-section>
      <p>
        Easy on and off ramp<br>Fiat <q-icon name="swap_horiz"></q-icon> Bitcoin Lightning &#9889;
      </p>
      <ol>
        <li>Select a wallet</li>
        <li>Click on the 'buy &amp; sell' button</li>
        <li>Choose 'buy' or 'sell'</li>
        <li>Enter the required informations</li>
        <li>Receive the funds directly<br/>on your wallet or bank account</li>
      </ol>

      <ul>
        <li class="text-warning">Only for users in Europe</li>
        <li class="text-warning">Up to 1'000 EUR per day without KYC</li>
      </ul>
    </q-card-section>
    <q-btn flat label="Swagger API" type="a" href="../docs#/dfxswiss"></q-btn>
  </q-card>
</q-expansion-item>
