<q-card class="q-pa-none">
  <q-card-section>
    <p>
      <q-btn class="q-btn q-btn--no-uppercase" flat icon="home" label="DFX.swiss Homepage" type="a" href="https://dfx.swiss" target="_blank"></q-btn>
      <br/>
      <q-btn class="q-btn q-btn--no-uppercase" flat icon="contact_support" label="Telegram Support" type="a" href="https://t.me/DFXLightningDevSupport" target="_blank"></q-btn>
      <br/>
      <q-btn class="q-btn q-btn--no-uppercase" flat icon="mail" label="support@DFX.swiss" type="a" href="mailto:support@DFX.swiss"></q-btn>
    </p>
  </q-card-section>
</q-card>
